PUBLIC_SITE_URL=https://www.clickitsolution.co.tz
PUBLIC_PHONE_DISPLAY=+255 754 000 000
PUBLIC_PHONE_E164=+255754000000
PUBLIC_WHATSAPP_NUMBER=255754000000
PUBLIC_WA_MESSAGE=Hello%20ClickIT%20Solutions%2C%20I%27d%20like%20to%20discuss%20a%20project.
PUBLIC_GA_MEASUREMENT_ID=
PUBLIC_GTM_ID=
PUBLIC_GADS_ID=
PUBLIC_GTM_DATA_LAYER_NAME=dataLayer
PUBLIC_FORM_ENDPOINT=
